.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        = @group.name
      %ul.chat-main__group-info__left-box__current-member
        %li.chat-main__group-info__left-box__current-member__list
          Member：
        %li.chat-main__group-info__left-box__current-member__list
          - @group.users.each do |user|
            = user.name

    = link_to edit_group_path(@group) do
      .chat-main__group-info__edit-btn
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .chat-main__message-form__new-message
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-image' do
          = icon('far', 'image', class: "image-icon")
          = f.file_field :image, class: 'input-file'
      = f.submit 'Send', class: 'input-send'